@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .links-menu {
      @apply text-white text-center p-3 border-b hover:bg-red-700;
  }
}
