@media (max-width: 800px) {

    body {
        width: 90% !important;
    }

    #game {
        width: 100% !important;
    }

    #controls > span {
        display: none;
    }

    #home h1 {
        font-size: 2em;
    }

    #home p {
        font-size: 0.8em;
    }

}